name: Build and tests

on:
  push:
    branches: 
      - main
      - develop
  pull_request:
    branches: [ develop ]

jobs:
  test:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: '1.7'
            otp: '22.3'
          - elixir: '1.8'
            otp: '22.3'
          - elixir: '1.9'
            otp: '22.3'
          - elixir: '1.10'
            otp: '23.3'
          - elixir: '1.11'
            otp: '24.3'
          - elixir: '1.12'
            otp: '24.3'
          - elixir: '1.13'
            otp: '25.2'
          - elixir: '1.14'
            otp: '25.2'
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Fetch dependencies
        run: mix do deps.get, compile
      - name: Launch tests
        run: mix test
  static-analysis:
    runs-on: ubuntu-latest
    name: Static analysis
    steps:
      - uses: actions/checkout@v3
      - name: Set mix.lock file hash
        run: |
          mix_hash="${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}"
          echo "mix_hash=${{ mix_hash }}" >> $GITHUB_ENV
      - name: Cache PLT files
        uses: actions/cache@v3
        with:
          path: |
            _build/dev/*.plt
            _build/dev/*.plt.hash
          key: plt-cache-${{ env.mix_hash }}
          restore-keys: |
            plt-cache-
      - name: Run dialyzer
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.2'
          elixir-version: '1.14.3'
      - run: mix do deps.get, compile
      - run: mix check
